<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAPfxEoAU1yPtjIM4Zwa8TNzhgYTxa6Qb4</string>
	<key>GCM_SENDER_ID</key>
	<string>117936451405</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.teams</string>
	<key>PROJECT_ID</key>
	<string>teams-prod-cc4c3</string>
	<key>STORAGE_BUCKET</key>
	<string>teams-prod-cc4c3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:117936451405:ios:6551163f221673c98b5104</string>
</dict>
</plist>